body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

:root {
  --blue-color: #1977cc;
  --blue-color: #1977cc;
  --blue-hover: #3291e6;
  --white-color: #ffffff;
  --dark-blue: #2c4964;
}
h1,
h2 {
  color: var(--dark-blue);
}

.text-sm {
  font-size: 0.8rem;
}
.text-md {
  font-size: 1rem;
}

/* Background Colors */
.bg-blue {
  background-color: var(--blue-color);
}
.bg-blue-low-opacity {
  background-color: rgba(25, 121, 204, 0.14);
}
.bg-white {
  background-color: var(--white-color);
}

/* Text Hover to Blue */
.text-hover-blue {
  transition: all 0.2s ease-in-out;
}
.text-hover-blue:hover {
  transition: all 0.2s ease-in-out;
  color: var(--blue-color);
}
.text-blue {
  color: var(--blue-color);
}
.text-dark-blue {
  color: var(--dark-blue);
}
.text-white {
  color: var(--white-color);
  opacity: 1 !important;
}

.my-btn {
  width: fit-content;
}
.btn-hoverable {
  transition: all 0.2s ease-in-out;
}
.btn-hoverable:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--blue-hover);
}

.btn-white-hoverable {
  background-color: rgba(255, 255, 255, 0.207);
  transition: all 0.2s ease-in-out;
}
.btn-white-hoverable:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--white-color);
  color: var(--blue-color);
}

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/
/* Navlink Hover Underline */
.navlink-hover {
  transition: all 0.2s ease-in-out;
}
.navlink-hover-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}
.navlink-hover:hover {
  transition: all 0.2s ease-in-out;
  color: var(--blue-color);
}
.navlink-hover-underline:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--blue-color);
  transition: all 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 80vh;
  background: url("../public/assets/img/hero-bg.jpg") top center;
  background-size: cover;
  margin-bottom: -200px;
  background-attachment: fixed;
}

.hero .container {
  position: relative;
}
@media (max-height: 600px) {
  .hero {
    height: 90vh;
  }
}
@media (max-width: 992px) {
  .hero {
    height: 80vh;
    margin-bottom: -100px;
  }
}

/*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/
.icon {
  font-size: 2rem;
  color: var(--blue-color);
}
.first-card {
  height: 25rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
@media screen and (max-width: 1200px) {
  .first-card {
    height: 100%;
  }
}
.first-card h3 {
  font-size: 2.5rem;
}

/*--------------------------------------------------------------
# Benefits Section
--------------------------------------------------------------*/
.rounded-icon {
  border: 2px solid var(--blue-hover);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.rounded-icon:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  transition: all 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.section-header {
  width: fit-content;
}
.section-header p {
  height: 2px;
  width: 100%;
  background-color: lightgray;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-header p p {
  height: 3px;
  width: 40%;
  background-color: var(--blue-color);
  margin: 0;
}

/* Service Card */
.service-card-icon i {
  padding-top: 0.7rem;
  padding-bottom: 0.9rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  background-color: rgba(18, 121, 211, 0.313);
  z-index: 0;
}
.service-card-icon i i {
  z-index: 3;
  top: 9px;
  left: 9px;
  background-color: var(--blue-color);
}
.service-card {
  transition: all 0.2s ease-in-out;
}
/* Service Card Hover */
.service-card:hover {
  background-color: var(--blue-color);
  color: var(--white-color) !important;
  transition: all 0.2s ease-in-out;
}
.service-card:hover h3 {
  color: var(--white-color) !important;
}
.service-card:hover p {
  color: var(--white-color) !important;
}
.service-card i.main-icon {
  transition: all 0.2s ease-in-out;
  color: var(--white-color);
}
.service-card:hover i.main-icon {
  background-color: var(--white-color);
  color: var(--blue-color);
  transition: all 0.2s ease-in-out;
}
.service-card i.icon-backdrop {
  transition: all 0.2s ease-in-out;
}
.service-card:hover i.icon-backdrop {
  background-color: var(--blue-hover);
  transition: all 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Department Section
--------------------------------------------------------------*/
.department-card {
  transition: all 0.2s ease-in-out;
}
.department-btn {
  padding: 0.7rem 0 0.7rem 0;
  border: 0;
  background-color: transparent;
  font-size: 1.1rem;
}
.department-btn-selected {
  background-color: var(--blue-color);
  color: var(--white-color);
}

@media (min-width: 992px) {
  .department-btn-selected {
    border-right: var(--blue-color) 2px solid;
    background-color: transparent;
    color: var(--dark-blue);
  }
}
